.sidepane {
	width: 20%;
	height: 100%;
	background-color: #444;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	overflow-x: hidden;
	padding-top: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sidepane a {
	width: 100%;
	padding: 10px;
	border: none;
	outline: none;
	background-color: #444;
	color: #fff;
	cursor: pointer;
	transition: 0.3s;
	display: block;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

.sidepane a:hover {
	background-color: #555;
}

.sidepane a.active {
	background-color: #555;
}
